<nav class="navbar">
  <a href="/astro-parallax-demo" class="navbarLogo"> Home</a>
  <ul class="navbarMenu">
    <li class="navbarMenuItem">
      <a href="/astro-parallax-demo">About</a>
    </li>
    <li class="navbarMenuItem">
      <a href="/astro-parallax-demo">Products & Offering</a>
    </li>
    <li class="navbarMenuItem">
      <a href="/astro-parallax-demo">Space & Design</a>
    </li>
    <li class="navbarMenuItem">
      <a href="/astro-parallax-demo">-</a>
    </li>
    <li class="navbarMenuItem">
      <a href="/astro-parallax-demo">English / Spanish</a>
    </li>
  </ul>
</nav>

<style lang="scss">
  .navbar {
    display: flex;
    height: 70px;
    padding: 10px 100px;
    align-items: center;

    &Logo {
      flex: 1;
    }

    &Menu {
      list-style: none;
      margin: 0;
      display: flex;
      flex: 2;
      justify-content: space-around;

      &Item {
        margin: 0;
      }
    }
  }
</style>
